Package: deepin-libwine
Source: deepin-wine
Version: 2.18-12
Architecture: i386
Maintainer: Debian Wine Party <pkg-wine-party@lists.alioth.debian.org>
Installed-Size: 179996
Depends: libasound2 (>= 1.0.16), libc6 (>= 2.23), libgcc1 (>= 1:3.0), liblcms2-2 (>= 2.2+git20110628), libldap-2.4-2 (>= 2.4.7), libmpg123-0 (>= 1.13.7), libopenal1 (>= 1.14), libpcap0.8 (>= 0.9.8), libpulse0 (>= 0.99.1), libstdc++6 (>= 5), libudev1 (>= 183), libusb-1.0-0 (>= 2:1.0.16), libx11-6, libxext6, libxml2 (>= 2.9.0), ocl-icd-libopencl1 | libopencl1, ocl-icd-libopencl1 (>= 1.0) | libopencl-1.1-1, udis86, zlib1g (>= 1:1.1.4), libxcursor1, libxi6, libxxf86vm1, libxrender1, libxrandr2, libxfixes3, libxinerama1, libxcomposite1, libgl1-mesa-glx, libglu1-mesa, libosmesa6, libxslt1.1, libdbus-1-3, libgnutls30, libncurses5, libv4l-0, libfreetype6, libcups2, libfontconfig1, libgsm1, libjpeg-turbo8 | libjpeg62-turbo, libpng16-16, libtiff5, libodbc1, fonts-liberation, deepin-fonts-wine
Suggests: cups-bsd, ttf-mscorefonts-installer
Built-Using: khronos-api (= 0~svn29735-1.1), unicode-data (= 9.0-1)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://www.winehq.org/
Description: Windows API implementation - library
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package provides the wine library.
