Package: deepin-libwine-dbg
Source: deepin-wine
Version: 2.18-12
Architecture: i386
Maintainer: Debian Wine Party <pkg-wine-party@lists.alioth.debian.org>
Installed-Size: 81
Depends: deepin-libwine (= 2.18-12)
Built-Using: khronos-api (= 0~svn29735-1.1), unicode-data (= 9.0-1)
Section: debug
Priority: extra
Multi-Arch: same
Homepage: http://www.winehq.org/
Description: Windows API implementation - debugging symbols
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package provides wine's debugging symbols.
